html {
  box-sizing: border-box;
  height: 100%;
  background-color: white;
  transition: background 150ms ease-in-out;
  scrollbar-gutter: stable;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root,
#storybook-root {
  height: 100%;
}

#root.blurred,
#storybook-root.blurred {
  filter: blur(4px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  appearance: none;
  border: none;
  background: none;
  border-radius: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

/* remove blue background on autofill in chrome */
input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #ffffff inset;
}

a:focus-visible,
button:focus-visible {
  outline: none;
}
